catboost==1.2
contourpy==1.1.0
cycler==0.11.0
dacite==1.8.1
fonttools==4.40.0
fsspec==2023.6.0
htmlmin==0.1.12
imagehash==4.3.1
importlib-resources==5.12.0
inflection==0.5.1
kiwisolver==1.4.4
lightgbm==3.3.5
llvmlite==0.40.1
matplotlib==3.7.1
multimethod==1.9.1
networkx==3.1
numba==0.57.1
numpy==1.22.3
patsy==0.5.3
phik==0.12.3
pillow==10.0.0
plotly==5.15.0
pyaml==23.5.9
pydantic==1.10.10
pynndescent==0.5.10
pyparsing==3.1.0
pywavelets==1.4.1
scikit-optimize==0.9.0
seaborn==0.12.2
statsmodels==0.14.0
sweetviz==2.1.4
tangled-up-in-unicode==0.2.0
tenacity==8.2.2
threadpoolctl==3.1.0
tqdm==4.65.0
typeguard==2.13.3
umap==0.1.1
umap-learn==0.5.3
visions==0.7.5
wordcloud==1.9.2
xgboost==1.7.6
ydata-profiling==4.3.1
yellowbrick==1.5